body {
    background-color: burlywood;
}
#padre {
    height: 220px; 
    background-color: rgb(224, 219, 219); 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: -1

}
.error {
    margin: auto;
    position: absolute;
    left: 25px;
}
.errores {
    margin: auto;
    position: absolute;
    left: 5px;
    bottom: 2px;
}
.ax {
    position: absolute;
    top: 12px;
    bottom: 5px;
}
/* hola */
img {
    float: right;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    top: -5px;
    position: absolute;
    text-shadow: 2px 2px rgba(0, 253, 253, 0.801);
}
#header {
    width: 100%;
    height: 70px;
    top: 0px;
    background-color: rgb(3, 66, 12);
    
}
#content {
    width: 100%;
    height: 655px;
    background-color: darkkhaki;
    position: absolute;
}
#a1 {
    width: 200px;
    height: 200px;
    top: 12px;
    left: 10px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#b1 {
    width: 200px;
    height: 200px;
    top: 12px;
    left: 235px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#c1 {
    width: 200px;
    height: 200px;
    top: 12px;
    left: 460px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#d1 {
    width: 200px;
    height: 200px;
    top: 12px;
    left: 690px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#e1 {
    width: 200px;
    height: 200px;
    top: 12px;
    left: 920px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#f1 {
    width: 200px;
    height: 200px;
    top: 12px;
    left: 1140px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#f2 {
    width: 200px;
    height: 200px;
    top: 222px;
    left: 1140px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#a2 {
    width: 200px;
    height: 200px;
    top: 222px;
    left: 10px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#b2 {
    width: 200px;
    height: 200px;
    top: 222px;
    left: 235px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#c2 {
    width: 200px;
    height: 200px;
    top: 222px;
    left: 460px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#d2 {
    width: 200px;
    height: 200px;
    top: 222px;
    left: 690px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#e2 {
    width: 200px;
    height: 200px;
    top: 222px;
    left: 920px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#a3 {
    width: 200px;
    height: 200px;
    top: 435px;
    left: 10px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#b3 {
    width: 200px;
    height: 200px;
    top: 435px;
    left: 235px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#c3 {
    width: 200px;
    height: 200px;
    top: 435px;
    left: 460px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#d3 {
    width: 200px;
    height: 200px;
    top: 435px;
    left: 690px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#e3 {
    width: 200px;
    height: 200px;
    top: 435px;
    left: 920px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#f3 {
    width: 200px;
    height: 200px;
    top: 435px;
    left: 1140px;
    background-color: azure;
    position: absolute;
    border: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}